img:not(.emoji) {
    border: 2px solid #555;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
div > p {
    margin: 1.5em;
}
div.table-wrapper {
    margin: 1.5em;
}
blockquote {
    border-left: 2px solid rgb(80, 118, 175);
    margin: 1.5em 60px;
    padding: 0em 5px;
  }
blockquote p {
    display: inline;
  }
code {
      font-size: 1em;
      background-color: #282c34;
      color: #abb2bf;
}
div.highlight {
    background-color: #282c34;
    margin: 12px;
}
code::before {
    content: "$ ";
    color:rgb(36, 206, 65)
}
div.highlighter-rouge {
      margin: 20px;
      border-radius: 4px;
      background-color: #282c34;
      position: relative;
}
pre.highlight > input {
    opacity: 0;
}

input.copy {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    cursor: pointer;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color:#8eb5fd;
    padding: 12px 2px;
    transition: all .3s;
    max-height: 56px;
}
pre.highlight:hover > input {
    opacity: 1;
}
  
pre.highlight > input:active,
pre.highlight > input:focus {
    opacity: 1;
}